* {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
}

.nav {
  background-color: black;
  color: white;
  padding: 30px;
}

.nav ul {
  list-style: none;
  font-size: 20px;
  display: inline;
}

.nav li {
  float: left;
  padding-right: 10px;
}

.hero {
  clear: both;
  position: relative;
}

.hero img {
  float: left;
  width: 50%;
}

.hero-text {
  float: right;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 30px;
  /*transform: translate(-50%, -50%)*/
}

.gallery {
  clear: both;
  background-color: #E6EFE9;
  position: relative;
  width: 100%;
}

.features-content {
  text-align: center;
  position: relative;
  width: 50%;
  padding: 20px;
}

.gallery img {
  width: 20%;
  height: 20%;
}

.top-images .bottom-images {
  width: 50%;
}

.specs {
  clear: both;
  width: 100%;
  background-color: #E6EFE9;
}

.details {
  width: 50%;
  padding: 20px;
  position: relative;
}

table {
  background-color: #A7C4A0;
  position: relative;
  left: 50%;
  top: -200px;
  width: 50%;
  border: 2px solid black;
}

thead {
  text-align: left;
}

td {
  padding: 10px;
  border-top: 1px solid black;
}

td:nth-child(1) {
  border-right: 1px solid black;
}

tr {
  border: 1px solid black;
}


th {
  padding: 10px;
}

th:nth-child(1) {
  border-right: 1px solid black;
}

.reviews {
  clear: both;
}
